.CardView {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.CardView>div {
	display: flex;
	flex-direction: row;
	height: 88vh;
	justify-Content: center;
}

.CardView>div>div {
	display: flex;
	flex-direction: column;
	height: 88vh;
	justify-Content: center;
}

.CardView>div>div>div {
	display: flex;
	flex-direction: column;
	height: 85vh;
	justify-Content: center;
	aspect-ratio: 9 / 16;
	background-color: rgb(33, 158, 188);
}

.Centrado {
	text-align: center;
}

.ButtonView {
	display: flex;
	flex-direction: row;
	height: 10vh;
	justify-content: center
}